microns-phase3@ git+https://github.com/cajal/microns_phase3_nda.git@v8
em_coregistration@ git+https://github.com/AllenInstitute/em_coregistration@phase3#egg=em_coregistration
pynwb==2.5.0
nwbinspector==0.4.25
caveclient==5.7.0
roiextractors==0.5.4
neuroconv==0.2.4
tifffile==2023.3.21
opencv-python-headless==4.8.1.78
